.menu {
  display: flex;
  flex-direction: column;
  height: 25vh;
  background-color: var(--menushade);
  justify-content: space-evenly;
  align-items: center;
}
.ionlist {
  background-color: var(--iconcolor);
}

.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
